<!-- Contact-->
<section class="page-section bg-dark text-white" id="contact">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<h2 class="mt-0">Make your reservation</h2>
				<hr class="divider my-4" />
				<p class="text-muted mb-5">Contact us and we wil find the best bike that suits you</p>
			</div>
		</div>
		<div class="mx-auto" style="max-width: 600px;">
			<div class="row">
				<div class="col-md-4 text-center mb-5">
					<i class="fas fa-phone fa-3x mb-3 text-muted"></i>
					<div>+30 2671031532</div>
				</div>
				<div class="col-md-4 text-center mb-5">
					<i class="fas fa-mobile fa-3x mb-3 text-muted"></i>
					<div>+30 6947915511</div>
				</div>
				<div class="col-md-4 text-center">
					<i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
					<a class="d-block" href="mailto:info@fioravillas.gr">info@fioravillas.gr</a>
				</div>
			</div>
		</div>
	</div>
</section>

<iframe
	src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5279.062370359971!2d20.604536160958446!3d38.11811470253923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13676204c8e1ce73%3A0xa92b1072646a3a1!2sTrapezaki+beach!5e0!3m2!1sen!2sgr!4v1526130272209"
	width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
