<!-- Footer-->
<footer class="bg-light py-5">
    <div class="container">
        <div class="small text-center text-muted">FioraVillas &copy; 2018 - All rights reserved - developed by
            <a href="http://cgeosoft.com" target="_blank">cgeosoft</a>
        </div>
    </div>
</footer>