<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <h1 class="text-white font-weight-bold">{{title}}</h1>
    <p class="text-white-75 font-weight-light mb-3">
      Once Kefalonia becomes your destination, it will be your island destination for life. Once you visit
      Fiora villas and experience our warm hospitality, you will want to come back again and again.
    </p>
    <p class="text-white-75 font-weight-light mb-3">
      The location is unique! Fiora villas are located in the south part of Kefalonia, just 1,5 km from
      Trapezaki beach, 8,5 km from kefalonian airport and 13 km from Argostoli, the capital of Kefalonia.
    </p>
    <p class="text-white-75 font-weight-light mb-3">
      This complex of eight elegant villas features well- appointed accommodation, with particular
      attention to details. Each villa is 50 sq.m, except from villa Rose ,which is 100 sq.m .The villas
      are built in a 5000 sq.m plot ,with parking, gardens and a sense of serenity .
    </p>
    <p class="text-white-75 font-weight-light mb-3">
      The villas consist of one double bedroom, two single beds in the living room, a fully equipped
      kitchen, a bathroom and a private veranda with sea and mountain views.
    </p>
    <p class="text-white-75 font-weight-light mb-3">
      The villas are an ideal choice for families, friends and couples seeking relaxation, comfort and
      also an enjoyable and unforgettable stay in the magnificent island of Kefalonia.
    </p>
    <buton class="btn btn-primary btn-xl js-scroll-trigger">Reserve your Villa: +30 6947915511</button>
  </div>
</header>
