<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">Villas</h2>
        <hr class="divider my-4" />

        <div class="row">
            {{#each villas.items }}
            <div class="col-md-4 col-sm-6 intro-item">
                <img class="rounded img-fluid mb-4" src="{{{image}}}" alt="{{{title}}}">
                <h4 class="intro-heading">{{{title}}}</h4>
                <p class="intro-description">{{{description}}}</p>
            </div>
            {{/each}}
        </div>

    </div>
</section>

{{!-- <div class="text-center">

<img class="img-fluid" src="/assets/img/banners/03.jpg" alt="">
</div> --}}